<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../rootfs/opt/coyote/lib</directory>
        </include>
    </coverage>
</phpunit>
